@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  color: white;
  /* background-image: url(/public/bg.png);
  background-size: cover;
  background-repeat: no-repeat; */
  background-color: #011113;
  fill-opacity: 0.1;
  min-height: 100vh;
  overflow-x: hidden;
}

.App {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://cloe.gg/static/img/download.svg);
  min-height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
